# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/

# React
node_modules/
build/
*.log

# Node
*.log
npm-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Docker
*.dockerignore
Dockerfile

# Logs
logs/
*.log
*.out
